body{
    box-sizing: border-box;
    margin: 0 auto;
}

.nav-wrapper{
    background-color: lightgreen;
    color: black;

}

nav .brand-logo{
    margin-left: 20px;
}

nav ul{
    display: flex;
}

@media (max-width : 991px) {
    nav ul{
        display: block;
    }
}
