body {
    box-sizing: border-box;
    margin: 0 auto;
    overflow-x: hidden;
}

#test{
    font-size: large;
    line-height: 160%;
}

.content{
    display: flow-root;
    min-height: 88vh;
}

.nav-wrapper a.active{
    background-color: rgba(0,0,0,0.1);
}

#Nav-Acc.active{
    background-color: #00E3A7;
}

#Nav-Acc:focus{
    background-color: rgba(0,0,0,0.1);
}

#Nav-Acc:hover{
    background-color: rgba(0,0,0,0.1);
}

.nav-wrapper {
    background-color: #00E3A7;
    font-weight: bold;
}

#adressBtn {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#adressBtn button{
    margin-left: 10px;
}

#bruxelles{
    display: flex;
}

#firstBxl{
    margin-right: 5%;
    border-right: 1px solid #00E3A7;
    padding-right: 5%;
}

.histoire{
    background-image: url("https://images.unsplash.com/photo-1472173148041-00294f0814a2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=53ebc875dc1eb4cad3f065ed65f60714&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    width: auto;
    font-size: 17px;
    overflow: hidden;
    background-attachment: fixed;
}

.entend{
    background-image: url('../Images/photo-1503441669932-76d3a4625eb9.jpeg');
    background-size: cover;
    width: auto;
    font-size: 17px;
    overflow: hidden;
    background-attachment: fixed;
}

.event {
    background-image: url('https://images.unsplash.com/photo-1515100398104-f7221da41f1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=52c9ab25e8dcaa35591df8e304d1513b&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    width: auto;
    font-size: 17px;
    overflow: hidden;
    background-attachment: fixed;
}

.backgroundAbout{
    background-image: url('http://post.phinf.naver.net/MjAxNzAzMDlfMjYw/MDAxNDg5MDQ2MjczMTU1.OwyV8LZ9K3v-BEcPiGIqpfN7bpNyLNwmBssu0lXjyQsg.OJ36VDMxstJsRWbX8p6tSxHAV9k5TnG-pyJPn2V2Qj4g.JPEG/%EC%9D%B4%EB%B3%84_%EA%B7%B9%EB%B3%B5_%EB%B0%A9%EB%B2%95ryan-holloway-168908.jpg?type=w1200');
    background-size: cover;
    width: auto;
    font-size: 17px;
    overflow: hidden;
    background-attachment: fixed;
}

.backgroundLinks{
    background-image: url('http://www.spartansofttech.com/images/sliders/master/slide1/slider2.jpg');
    background-size: cover;
    width: auto;
    font-size: 17px;
    overflow: hidden;
    background-attachment: fixed;
}

#About{
    text-align: left;
}

#footer {
    background-color: #00E3A7;
    position: relative;
    width: 100%;
    color: white;
    padding: 1px;
    clear: both;
    display: block;
    font-size: small;
}

#footer p{
    margin-left: 10%;
}

nav .brand-logo {
    margin-left: 20px;
}

nav ul {
    display: flex;
    margin: auto;
    width: max-content;
}

.Container {
    width: 50%;
    margin: 0 auto;
}

i .contactForm, .material-icons {
    margin-top: inherit;
}

.contactForm {
    height: 250px;
    margin: 0px auto;
}

.containerForm .btn {
    background-color: #00E3A7;
    margin-top: 5%;
}

.containerAcceuil {
    color: black;
    width: 60%;
    margin: 0 auto;
    padding: 5%;
    border: 1px solid #00E3A7;
    border-radius: 5px;
    margin-top: 5%;
    background-color: rgba(238, 238, 238, 0.7);
    text-align: justify;
}

.Container a:hover{
    color: #00E3A7;
    text-decoration: underline;
}

#titleAcc {
    text-align: center;
}

h4 {
    border-bottom: 0.5px solid #00E3A7;
}

.containerAcceuil .accUl {
    margin-left: 25px;
    margin-top: 30px;
}

ul:not(.browser-default) li.accLi {
    list-style-type: circle;
}

.acceuil {
    background-image: url(../Images/background1.jpg);
    background-size: cover;
    height: 95vh;
    margin-top: 0;
    width: 100vw;
    font-size: 17px;
    overflow: hidden;
    position: inherit;
}

.containerAcceuil .btn {
    background-color: #00E3A7;
}

.allAcc {
    margin: 0px;
    overflow: hidden;
}

.contact {
    border-bottom: 0.5px solid #00E3A7;
}

.Form {
    background-color: #eee;
    padding: 20px;
    border: 1px solid #00E3A7;
    border-radius: 5px;
    margin-top: 5%;
    padding: 5%;
    margin-bottom: 2.5%;
}

.secondSec {
    position: relative;
    font-size: 17px;
    padding: 4%;
    margin-bottom: 20px;
}

.secondSec h5 {
    border-bottom: 1px solid #00E3A7;
}

#groupe{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

#Event1{
    display: inline-block;
}

#Event1 p , #Event1 h5 {
    width: 70%;
    float: left;
}

#imgEvent1 {
    width: 15%;
    float: left;
    margin-left: 10%;
}

#Event2 {
    display: inline-block;
}

#Event2 p, #Event2 h5{
    display: block;
    width: 85%;
    float: right;
}

#imgEvent2 {
    width: 10%;
    float: inherit;
    display: block;
    margin-top: 10px;
}

#EventImg{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.book{
    float: inherit;
    margin-right: 15px;
}

.livre{
    width: 50%;
}

.backgroundLinks img{
    width: 50%;
    display: block;
    margin: auto;
    margin-top: 10%;
}

#lireMore {
    display: flex;
}

#BtnForm {
    background-color: #00E3A7;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

#BtnForm i{
    margin-left: 10px;
}

#errorForm {
    background-color: #ED1936;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    color: #eeeeee;
    margin: auto;
    justify-content: center;
}

.errorTransition{
    animation-name: erreur;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
}

#errorForm i{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

#sendForm i{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

#sendForm {
    background-color: #00E3A7;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    color: white;
    margin: auto;
    justify-content: center;
}

.maxw {
    width: 100% !important;
}
textarea.maxw {
    min-height: 100px;
}

@media (max-width: 1300px) {
    .containerAcceuil {
        width: 90%;
    }
    .Form {
        margin-bottom: 7%;
    }
}

@media (max-width: 991px) {
    nav ul {
        display: block;
    }

    .Container {
        width: 70%;
    }

    .containerAcceuil {
        width: 90%;
    }

    #Event1{
        display: block;
    }
}

@media (max-width: 601px) {
    .Container {
        width: 90%;
    }

    .content{
        min-height: 89vh;
    }

    .acceuil {
        height: 100%;
    }
}

@keyframes erreur {
    from {top : -100px}
    to {top : 0}
}


