body {
    box-sizing: border-box;
    margin: 0 auto;
    overflow-x: hidden;
}

.content{
    display: flow-root;
    min-height: 88vh;
}

.nav-wrapper {
    background-color: #00E3A7;
    color: black;
}

#adressBtn {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

#bruxelles{
    display: flex;
}

#firstBxl{
    margin-right: 5%;
    border-right: 1px solid #00E3A7;
    padding-right: 5%;
}

.entend{
    background-image: url('https://images.unsplash.com/photo-1503441669932-76d3a4625eb9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3e1502480cf91a8fcac6bdafac5f627&auto=format&fit=crop&w=1294&q=80');
    background-size: cover;
    width: auto;
    font-size: 17px;
    overflow: hidden;
    background-attachment: fixed;
}

.backgroundAbout{
    background-image: url('http://post.phinf.naver.net/MjAxNzAzMDlfMjYw/MDAxNDg5MDQ2MjczMTU1.OwyV8LZ9K3v-BEcPiGIqpfN7bpNyLNwmBssu0lXjyQsg.OJ36VDMxstJsRWbX8p6tSxHAV9k5TnG-pyJPn2V2Qj4g.JPEG/%EC%9D%B4%EB%B3%84_%EA%B7%B9%EB%B3%B5_%EB%B0%A9%EB%B2%95ryan-holloway-168908.jpg?type=w1200');
    background-size: cover;
    width: auto;
    font-size: 17px;
    overflow: hidden;
    background-attachment: fixed;
}

.footer {
    background-color: #00E3A7;
    position: relative;
    width: 100%;
    color: white;
    padding: 1px;
    clear: both;
    display: block;
}

.footer p{
    margin-left: 10%;
}

nav .brand-logo {
    margin-left: 20px;
}

nav ul {
    display: flex;
    margin: auto;
    width: max-content;
}

.Container {
    width: 50%;
    margin: 0 auto;
}

i .contactForm, .material-icons {
    margin-top: inherit;
}

.contactForm {
    height: 250px;
    margin: 0px auto;
}

.containerForm .btn {
    background-color: #00E3A7;
    margin-top: 5%;
}

.containerAcceuil {
    color: black;
    width: 60%;
    margin: 0 auto;
    padding: 5%;
    border: 1px solid #00E3A7;
    border-radius: 5px;
    margin-top: 5%;
    background-color: rgba(238, 238, 238, 0.7);
    text-align: justify;
}

#titleAcc {
    text-align: center;
}

h4 {
    border-bottom: 0.5px solid #00E3A7;
}

.containerAcceuil .accUl {
    margin-left: 25px;
    margin-top: 30px;
}

ul:not(.browser-default) li.accLi {
    list-style-type: circle;
}

.acceuil {
    background-image: url(../Images/background1.jpg);
    background-size: cover;
    height: 95vh;
    margin-top: 0;
    width: 100vw;
    font-size: 17px;
    overflow: hidden;
    position: inherit;
}

.containerAcceuil .btn {
    background-color: #00E3A7;
}

.allAcc {
    margin: 0px;
    overflow: hidden;
}

.contact {
    border-bottom: 0.5px solid #00E3A7;
}

.Form {
    background-color: #eee;
    padding: 20px;
    border: 1px solid #00E3A7;
    border-radius: 5px;
    margin-top: 5%;
    padding: 5%;
    margin-bottom: 2.5%;
}

.secondSec {
    position: relative;
    font-size: 17px;
    padding: 4%;
    margin-bottom: 20px;
}

.secondSec h5 {
    border-bottom: 1px solid #00E3A7;
}

#groupe{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

@media (max-width: 1300px) {
    .containerAcceuil {
        width: 90%;
    }
    .Form {
        margin-bottom: 7%;
    }
}

@media (max-width: 991px) {
    nav ul {
        display: block;
    }

    .Container {
        width: 70%;
    }

    .containerAcceuil {
        width: 90%;
    }
}

@media (max-width: 601px) {
    .Container {
        width: 90%;
    }

    .content{
        min-height: 89vh;
    }
}


